.pending-color {
  background-color: #ffde1a;
  color:black;
}
.received-color{
  background-color: #ff5f86;
  color:black;
}
.picked-color {
  background-color: #86d1f0;
  color:black;
}
.delivered-color{
  background-color: #00d16c;
  color:black;
}
.none-color{
  background-color: #F8F8F8;
}

.details-btn {
  background-color: white;
  color: #0a3a7f;
  border-color: #0a3a7f;
}

.header-bg {
  background-color: #86d1f0 !important;
}

.body-bg {
  background-color: white;
}

.home-wrapper {
  padding: 15px 30px 5px 30px;
}

.container-fluid {
  padding-right: 0 !important;
  padding-left: 0 !important;
  }
.btn-primary {
  color: black !important;
  background-color: #86d1f0 !important;
  border-color: #86d1f0 !important;
}

.nav-tabs .nav-link.disabled {
  color: #0a3a7f !important;
}

.navbar-nav .nav-link {
  color: white !important;
}

.header-card {
  background-color: transparent;
  border: none;
  color: white;
}
.dashImg {

  width: 50%;
  height: auto;

}

.imgCont {
  display: flex;
  flex-direction: row-reverse;

}

.text-wrap {
  display: flex;
  flex-direction: column;
}

.modal-header {
  background-color: #86d1f0 !important;
}
.btn-secondary {
  margin-left: 15px;
}
