@charset "UTF-8";

@font-face {
    font-family: "proximanova-thin";
    src: url("../fonts/proximanovat-thin-webfont.woff");
}

@font-face {
    font-family: "proximanova-regular";
    src: url("../fonts/proximanova-regular-webfont.woff");
}

body {
    background-color: #f4efeb !important;
}

a {
}

img {
    border: 0;
    vertical-align: middle;
}

h1 {
    line-height: 1em;
}

blockquote {
    padding: 0 0 0 15px;
    margin: 0 0 20px;
    border-left: 5px solid #eee;
}

table {
    width: 100%;
    margin: 10px 0;
    border-collapse: separate;
    border-spacing: 2px 6px;
}

.header {
    background-color: #3e4351;
    width: 100%;
    height: 50px;
    padding: 10px 0;
    margin: 0;
    color: white;
    padding: 10px;

}

.header-el-container {
    max-width: 750px;
    margin: 0 auto !important;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-text {
    font-family: "proximanova-thin";
}

.header-img {
    width: 100px;
    height: auto;
    background-image: url('../img/innovidLogo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#go {
    visibility: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 750px;
    margin: 0 auto !important;
    padding: 1em;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
    font-size: 1em;
    line-height: 1.4em;
    background-color: #f4efeb !important;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-family: "proximanova-regular";
}

.videoScanContainer {
    width: 100%;
    height: 100%;
}

#video {

    position: absolute;
    width: 800px;
    height: 800px;
}

.scan {
    display: none;
    position: absolute;
    width: 800px;
    height: 10px;
    background-color: rgba(0, 0, 0, .8);
    position: absolute;
    z-index: 9999;
    -moz-animation: scan 1s infinite;
    -webkit-animation: scan 1s infinite;
    animation: scan 1s infinite;
    -webkit-animation-direction: alternate-reverse;
    box-shadow: 0px 0px 30px rgba(255, 204, 102, .5);
}

@-webkit-keyframes scan {
    0%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(550px);
        transform: translateY(550px);
    }
}

.barcodeIDResult {
    display: inline-block;
    position: absolute;
}

.scannerWrapper {

    padding: 20px 0;
}

.preloading {
    background-image: url('../img/loading.gif');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.responseBox
{
    display: none;
    position: absolute;
    width: 600px;
    height: 400px;
    background-color: white;
    border: 2px solid;
    border-radius: 10px 10px;
    transform: translate(-50%, -50%);
}