
.pending-color {
  background-color: #ffde1a !important;
  color:black !important;
}
.received-color{
  background-color: #ff5f86 !important;
  color:black !important;
}
.picked-color {
  background-color: #86d1f0 !important;
  color:black !important;
}
.delivered-color{
  background-color: #00d16c !important;
  color:black !important;
}
.none-color{
  background-color: #F8F8F8 !important;
}

.details-btn {
  background-color: white !important;
  color: #0a3a7f !important;
  border-color: #0a3a7f !important;
}

.header-bg {
  background-color: #86d1f0 !important;
}

.body-bg {
  background-color: white !important;
}

.home-wrapper {
  padding: 15px 30px 5px 30px !important;
}

.container-fluid {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.btn-primary {
  color: black !important;
  background-color: #86d1f0 !important;
  border-color: #86d1f0 !important;
}

.nav-tabs .nav-link.disabled {
  color: #0a3a7f !important;
}

.navbar-nav .nav-link {
  color: white !important;
}

.header-card {
  background-color: transparent !important;
  border: none !important;
  color: white !important;
}
.dashImg {

  width: 50% !important;
  height: auto !important;

}

.imgCont {
  display: flex !important;
  flex-direction: row-reverse !important;

}

.text-wrap {
  display: flex !important;
  flex-direction: column !important;
}

.modal-header {
  background-color: #86d1f0 !important;
}
.btn-secondary {
  margin-left: 15px !important;
}
